<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fixit.fixit">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
           <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        -->
        <activity
            android:name=".login"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".UserProfile"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".device"
            android:label="@string/title_activity_device"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".brand_c"
            android:label="@string/title_activity_brand"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".brand_p"
            android:label="@string/title_activity_brand_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".brand_pp"
            android:label="@string/title_activity_brand_pp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_apple"
            android:label="@string/title_activity_model_apple"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_samsung_p"
            android:label="@string/title_activity_model_samsung_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_htc_p"
            android:label="@string/title_activity_model_htc_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_google_p"
            android:label="@string/title_activity_model_google_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_oppo_p"
            android:label="@string/title_activity_model_oppo_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_lg_p"
            android:label="@string/title_activity_model_lg_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_nokia_p"
            android:label="@string/title_activity_model_nokia_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_motolenovo_p"
            android:label="@string/title_activity_model_motolenovo_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_microsoft_p"
            android:label="@string/title_activity_model_microsoft_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_zte_p"
            android:label="@string/title_activity_model_zte_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_xiaomi_p"
            android:label="@string/title_activity_model_xiaomi_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_huawei_p"
            android:label="@string/title_activity_model_huawei_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_specific_list"
            android:label="Santiago Change this Label!"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_tcl_p"
            android:label="@string/title_activity_model_tcl_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_lenovo_p"
            android:label="@string/title_activity_model_lenovo_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_tcl_pp"
            android:label="@string/title_activity_model_tcl_pp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".options_fix_p"
            android:label="@string/title_activity_options_fix_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".options_fix_lptp"
            android:label="@string/title_activity_options_fix_lptp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".options_fix_desktp"
            android:label="@string/title_activity_options_fix_desktp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fixtypeListActivity"
            android:label="@string/title_fixtype_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fixtypeDetailActivity"
            android:label="@string/title_fixtype_detail"
            android:parentActivityName=".fixtypeListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fixit.fixit.fixtypeListActivity" />
        </activity>
        <activity
            android:name=".brand_pw"
            android:label="@string/title_activity_brand_pw"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_acer_p"
            android:label="@string/title_activity_model_acer_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_archos_p"
            android:label="@string/title_activity_model_archos_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_blu_p"
            android:label="@string/title_activity_model_blu_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_celkon_p"
            android:label="@string/title_activity_model_celkon_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_coolpad_p"
            android:label="@string/title_activity_model_coolpad_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_gionee_p"
            android:label="@string/title_activity_model_gionee_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_andi_p"
            android:label="@string/title_activity_model_andi_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_iball_p"
            android:label="@string/title_activity_model_iball_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_intex_p"
            android:label="@string/title_activity_model_intex_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_i_aqua_p"
            android:label="@string/title_activity_model_i_aqua_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_i_cloud_p"
            android:label="@string/title_activity_model_i_cloud_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_karbonn_p"
            android:label="@string/title_activity_model_karbonn_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_lava_p"
            android:label="@string/title_activity_model_lava_p"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".model_l_iris_p"
            android:label="@string/title_activity_model_l_iris_p"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>